<div>
<br/>
<p>New Bill of Materials</p>
<form ng-controller="addbillofmaterials">
    <p>Description: <input name="description" ng-model="description" required></p>
    <p>Parts:</p>
    <table class="table table-striped" cellspacing="0" cellpadding="0">
        <tbody>
           <tr>
               <th scope="col" title="Count">Count</th>
               <th scope="col" title="Corporate Part Number">Corporate Part Number</th>
               <th scope="col" title="Type">Type</th>
               <th scope="col" title="Description">Description</th>
               <th scope="col" title="Image">Image</th>
           </tr>
           <tr ng-repeat="part in parts | orderBy:'corporatePartNumber'">
               <td>{{bom.part.corporatePartNumber}}</td>
               <td>{{bom.part.type}}</td>
               <td>{{bom.part.description}}</td>
               <td><img ng-src="{{bom.part.image}}" alt="{{bom.part.manufacturerPartNumber}}" height="32" width="32"/></td>
           </tr>
        </tbody>
    </table>
</form>
<br/>
<p>Parts Lookup</p>
<p>Search: <input ng-model="search"></p>
<table class="table table-striped" cellspacing="0" cellpadding="0">
    <tbody>
       <tr>
           <th scope="col" title="Corporate Part Number">Corporate Part Number</th>
           <th scope="col" title="Type">Type</th>
           <th scope="col" title="Description">Description</th>
           <th scope="col" title="Image">Image</th>
       </tr>
       <tr ng-repeat="item in items | orderBy:'corporatePartNumber' | filter:search">
           <td>{{item.corporatePartNumber}}</td>
           <td>{{item.type}}</td>
           <td>{{item.description}}</td>
           <td><img ng-src="{{item.image}}" alt="{{item.manufacturerPartNumber}}" height="32" width="32"/></td>
           <td class="tdCenter"><a href="" ng-click="addItem(0, item)">Add Item</a></td>
       </tr>
    </tbody>
</table>
</div>